<settings>

    <setting propertyKey="@Properties.appVersion" title="App Version">
        <settingConfig type="alphaNumeric" readonly="true" maxLength="100"/>
    </setting>

    <setting propertyKey="@Properties.free_day_color" title="@Strings.free_day_color_name" prompt="@Strings.free_day_color_name">
        <settingConfig type="list">
            <listEntry value="0x00ff60">@Strings.verde_color</listEntry>
            <listEntry value="0xffffff">@Strings.alb_color</listEntry>
            <listEntry value="0xff0000">@Strings.rosu_color</listEntry>
            <listEntry value="0x003bff">@Strings.albastru_color</listEntry>
            <listEntry value="0xf1ff00">@Strings.galben_color</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.black_cross_color" title="@Strings.black_cross_color_name" prompt="@Strings.black_cross_color_name">
        <settingConfig type="list">
            <listEntry value="0x00ff60">@Strings.verde_color</listEntry>
            <listEntry value="0xffffff">@Strings.alb_color</listEntry>
            <listEntry value="0xff0000">@Strings.rosu_color</listEntry>
            <listEntry value="0x003bff">@Strings.albastru_color</listEntry>
            <listEntry value="0xf1ff00">@Strings.galben_color</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.red_cross_color" title="@Strings.red_cross_color_name" prompt="@Strings.red_cross_color_name">
        <settingConfig type="list">
            <listEntry value="0x00ff60">@Strings.verde_color</listEntry>
            <listEntry value="0xffffff">@Strings.alb_color</listEntry>
            <listEntry value="0xff0000">@Strings.rosu_color</listEntry>
            <listEntry value="0x003bff">@Strings.albastru_color</listEntry>
            <listEntry value="0xf1ff00">@Strings.galben_color</listEntry>
        </settingConfig>
    </setting>
    
</settings>